<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-default fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">   
<a class="navbar-brand">AUTO-FINANCE</a>
</div> 
<ul class="nav navbar-nav navbar-right">
  <li><a href="#investment">Investment</a></li>
  <li><a href="#loans">Loans</a></li>
  <li><a href="#insurance">Insurance</a></li>
  <li><a href="#deals"><span class="glyphicon glyphicon-gift"> Deals</span></a></li>
  <li><a href="#aboutus">About Us</a></li>
  <li><a href="#terms">Terms/Conditions</a></li>
  <li><a href="#offers"><span class="glyphicon glyphicon-bell"> Offers</span></a></li>
</ul>
</div>
</nav>